.title{
    text-align: center;
    font-size:4rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}

.description{
    font-size:3rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}