/* NAVBAR */

.header {
  width: 100%;
  background-color: black;
  top: 0px;
  margin-top: -10px;
  height: 74px;
}
.navbar {
  display: flex;
}
.logo-ama {
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
}
.ubicacion {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.p-navbar {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
.btn-navbar {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  bottom: -10px;
}
.far {
  font-size: 20px;
  margin-right: 1rem;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 3rem;
  margin-top: 12px;
  width: 586px;
  height: 46px;
}
.btn-nav {
  width: 180px;
  height: 46px;
  background: #f3f3f3;
  border-radius: 8px 0px 0px 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}
.search-navbar {
  width: 361px;
  height: 40px;
  background: #ffffff;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #333333;
}
.btn-search {
  width: 48px;
  height: 46px;
  background: #f0ad64;
  border-radius: 0px 8px 8px 0px;
}
.fas {
  font-size: 20px;
}
.identi {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

/* LOGIN Y REGISTRO*/
.logo-Amazon {
  display: flex;
  margin: auto;
  width: 180px;
  height: 50px;
  margin-bottom: 1rem;
}
.container-login {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  height: 480px;
  border: 1px solid lightgrey;
  padding: 25px;
}
.email-login {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}
.email-password {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.container-password {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.parrafo {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-email {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 1rem;
}
.button-enviar {
  width: 100%;
  background-color: rgb(255, 196, 87);
  color: black;
  height: 35px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 1rem;
  cursor: pointer;
}
.google-btn {
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 60px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 18px;
  width: 25px;
  height: 18px;
  cursor: pointer;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  cursor: pointer;
}

.facebook-btn {
  width: 100%;
}
.facebook-icon {
  background-color: #4285f4;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.facebook {
  text-align: center;
  font-size: 23px;
  margin: auto;
  font-family: "Klavika";
}

.p-registro {
  text-align: center;
  font-size: 15px;
}
.btn-registro {
  display: flex;
  margin: auto;
  width: 350px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid black;
}
#regis {
  display: flex;
  margin: auto;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* REGISTRO */

.container-registro {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  height: 660px;
  border: 1px solid lightgrey;
  padding: 25px;
}
.btn-reg {
  margin-top: 2rem;
}
.link-reg {
  text-decoration: none;
  color: blue;
}
#info {
  color: blue;
  font-size: 15px;
}

/* APP */

.items {
  width: 100%;
  height: 40px;
  background: #242f3e;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 24px;
}
.btn-items {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  background-color: #242f3e;
  border: none;
  color: #ffffff;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
}
#one {
  margin-left: 2rem;
}
#fas {
  margin-right: 0.5rem;
}

.footer {
  width: 100%;
  height: 408px;
  bottom: 0;
  /* position: absolute; */
  background: #242f3e;
}
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 280px;
  margin-top: 1rem;
}
.container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 197px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.title-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.links {
  text-decoration: none;
  color: white;
  margin-top: 0.5rem;
}
.container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 197px;
  height: 152px;
  left: 261px;
  top: 0px;
}
.container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 223px;
  height: 128px;
  left: 522px;
  top: 0px;
}
.container-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 223px;
  height: 176px;
  left: 809px;
  top: 0px;
}
.img-footer {
  margin-top: 21rem;
}

/* PRODUCTOS */

.title-pro {
  text-align: center;
  font-style: italic;
  font-family: Roboto;
  text-decoration: underline;
  margin-top: 2rem;
  font-size: 2.2rem;
}

.pa-pro {
  text-align: center;
  font-style: italic;
  font-family: Roboto;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 330px;
  height: 580px;
  border: 2px solid lightgrey;
  padding: 25px;
  margin-top: 2rem;
}
.ti-pro {
  text-align: center;
  font-style: italic;
  font-family: Roboto;
}
#ti-label {
  display: flex;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
.input-regis {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 1rem;
}
.btn-imagen {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  background-color: rgb(255, 138, 28);
  color: white;
  border-radius: 4px;
  width: 80px;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid black;
}

.btn-guardar {
  width: 100%;
  margin-top: 2rem;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: Roboto;
  font-size: 20px;
  background-color: rgb(255, 196, 87);
  color: white;
  font-weight: bold;
}
.btn-cancelar {
  width: 100%;
  margin-top: 2rem;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: Roboto;
  font-size: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.product-ti {
  text-align: center;
  margin-top: 3rem;
}

#name-table {
  font-weight: bold;
}
#cabecera {
  background-color: rgba(255, 196, 87, 0.658);
}
.eliminar {
  width: 100%;
  margin-top: 2rem;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: Roboto;
  font-size: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
}
.editar {
  width: 100%;
  margin-top: 2rem;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: Roboto;
  font-size: 20px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-weight: bold;
}

/* APP PRINCIPAL */

.data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.img-mini {
  display: flex;
  flex-direction: column;
  width: 30px;
  margin-top: 2rem;
  grid-column: 1/2;
  grid-row: 1;
}
.btn-img {
  border: none;
}
.img-grande {
  grid-column: 2;
  grid-row: 1;
}
.items-data {
  width:200px;
  grid-column: 3 / 4;
  grid-row: 1/2;
}

.container-compra {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  padding: 15px;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #333333;
}
.precio {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #af2913;
}
.descripcion {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #333333;
}
.p-d {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #af2913;
}
.btn-c {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(255, 196, 87);
}

.link-r {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  text-align: center;
  color: #0e7184;
  text-decoration: none;
  margin-top: 1rem;
}
.envio {
  font-weight: bold;
}
.info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #333333;
}
